@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Basic Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBE2DC;
    font-size: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator Containers*/

.calc_wrapper {
    flex: 1 1 auto;
}

.outside {
    margin: 30px auto;
    background-color: #68A095;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 90vw;
    max-height: 700px;
    max-width: 400px;
    width: 80vw;
}

.contents {
    border: 4px solid #5F6665;
    border-radius: 40px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

/*Buttons and Display*/

.screen {
    background-color: #AFB08E;
    width: 90%;
    height: 16%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 20px;
}

.screen div {
    color: #303030;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
}

button {
    background-color: #DDDDDD;
    color: #303030;
    font-size: 2.5rem;
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 70px;
}

.buttons_group {
    height: 90%;
    width: 100%;
    display: grid;
    margin-top: 50px;
    margin-left: 30px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 10px;
    margin-bottom: -50px;
}

#equals {
    border-radius: 20px;
    height: 160px;
    grid-row: span 2;
}

#zero {
    border-radius: 20px;
    width: 160px;
    grid-column: span 2;
}

.clear {
    border-radius: 20px;
    width: 80px;
}
.orangeBtn {
    background-color: #D37748;
    color: #DDDDDD;
}